In [13]:
# load data
import pickle
enron_data = pickle.load(open("../final_project/final_project_dataset.pkl", "r"))

In [34]:
people_count = len(enron_data.keys())
print "people count: " + str (people_count)

people count: 146

In [36]:
# assume each person has the same number of attributes
a_person = enron_data.keys()[0]

print "attribute count: " + str(len(enron_data[a_person]))

attribute count: 21

In [39]:
poi_values = []

# determine distinct types
for key, value in enron_data.iteritems():
    poi_values.append(enron_data[key]['poi'])

print "distinct types: " + str(list(set(poi_values)))

distinct types: [False, True]

In [58]:
poi_count = 0

for key, value in enron_data.iteritems():
    if enron_data[key]['poi']:
        poi_count += 1
        
print "person of iterest (poi) count: " + str(poi_count)

person of iterest (poi) count: 18

In [59]:
import pandas as pd

poi_names_file = pd.read_table("../final_project/poi_names.txt", header=0, names=['folks'])
poi_names_file.head()

print "poi headcount: " + str(poi_names_file.size)

poi headcount: 35

In [62]:
jp_stock = enron_data['PRENTICE JAMES']['total_stock_value']

print "total stock belonging to James Prentice: $" + str(jp_stock)

total stock belonging to James Prentice: $1095040

In [66]:
wc_email_count_to_poi = enron_data['COLWELL WESLEY']['from_this_person_to_poi']

print "total email messages from Wesley Colwell: " + str(wc_email_count_to_poi)

total email messages from Wesley Colwell: 11

In [73]:
jks_stock_options_exercised = enron_data['SKILLING JEFFREY K']['exercised_stock_options']

print "value of stock options exercised by Jeffery K Skilling: $" + str(jks_stock_options_exercised)

value of stock options exercised by Jeffery K Skilling: $19250000

In [68]:
print enron_data.keys()

['METTS MARK', 'BAXTER JOHN C', 'ELLIOTT STEVEN', 'CORDES WILLIAM R', 'HANNON KEVIN P', 'MORDAUNT KRISTINA M', 'MEYER ROCKFORD G', 'MCMAHON JEFFREY', 'HORTON STANLEY C', 'PIPER GREGORY F', 'HUMPHREY GENE E', 'UMANOFF ADAM S', 'BLACHMAN JEREMY M', 'SUNDE MARTIN', 'GIBBS DANA R', 'LOWRY CHARLES P', 'COLWELL WESLEY', 'MULLER MARK S', 'JACKSON CHARLENE R', 'WESTFAHL RICHARD K', 'WALTERS GARETH W', 'WALLS JR ROBERT H', 'KITCHEN LOUISE', 'CHAN RONNIE', 'BELFER ROBERT', 'SHANKMAN JEFFREY A', 'WODRASKA JOHN', 'BERGSIEKER RICHARD P', 'URQUHART JOHN A', 'BIBI PHILIPPE A', 'RIEKER PAULA H', 'WHALEY DAVID A', 'BECK SALLY W', 'HAUG DAVID L', 'ECHOLS JOHN B', 'MENDELSOHN JOHN', 'HICKERSON GARY J', 'CLINE KENNETH W', 'LEWIS RICHARD', 'HAYES ROBERT E', 'MCCARTY DANNY J', 'KOPPER MICHAEL J', 'LEFF DANIEL P', 'LAVORATO JOHN J', 'BERBERIAN DAVID', 'DETMERING TIMOTHY J', 'WAKEHAM JOHN', 'POWERS WILLIAM', 'GOLD JOSEPH', 'BANNANTINE JAMES M', 'DUNCAN JOHN H', 'SHAPIRO RICHARD S', 'SHERRIFF JOHN R', 'SHELBY REX', 'LEMAISTRE CHARLES', 'DEFFNER JOSEPH M', 'KISHKILL JOSEPH G', 'WHALLEY LAWRENCE G', 'MCCONNELL MICHAEL S', 'PIRO JIM', 'DELAINEY DAVID W', 'SULLIVAN-SHAKLOVITZ COLLEEN', 'WROBEL BRUCE', 'LINDHOLM TOD A', 'MEYER JEROME J', 'LAY KENNETH L', 'BUTTS ROBERT H', 'OLSON CINDY K', 'MCDONALD REBECCA', 'CUMBERLAND MICHAEL S', 'GAHN ROBERT S', 'MCCLELLAN GEORGE', 'HERMANN ROBERT J', 'SCRIMSHAW MATTHEW', 'GATHMANN WILLIAM D', 'HAEDICKE MARK E', 'BOWEN JR RAYMOND M', 'GILLIS JOHN', 'FITZGERALD JAY L', 'MORAN MICHAEL P', 'REDMOND BRIAN L', 'BAZELIDES PHILIP J', 'BELDEN TIMOTHY N', 'DURAN WILLIAM D', 'THORN TERENCE H', 'FASTOW ANDREW S', 'FOY JOE', 'CALGER CHRISTOPHER F', 'RICE KENNETH D', 'KAMINSKI WINCENTY J', 'LOCKHART EUGENE E', 'COX DAVID', 'OVERDYKE JR JERE C', 'PEREIRA PAULO V. FERRAZ', 'STABLER FRANK', 'SKILLING JEFFREY K', 'BLAKE JR. NORMAN P', 'SHERRICK JEFFREY B', 'PRENTICE JAMES', 'GRAY RODNEY', 'PICKERING MARK R', 'THE TRAVEL AGENCY IN THE PARK', 'NOLES JAMES L', 'KEAN STEVEN J', 'TOTAL', 'FOWLER PEGGY', 'WASAFF GEORGE', 'WHITE JR THOMAS E', 'CHRISTODOULOU DIOMEDES', 'ALLEN PHILLIP K', 'SHARP VICTORIA T', 'JAEDICKE ROBERT', 'WINOKUR JR. HERBERT S', 'BROWN MICHAEL', 'BADUM JAMES P', 'HUGHES JAMES A', 'REYNOLDS LAWRENCE', 'DIMICHELE RICHARD G', 'BHATNAGAR SANJAY', 'CARTER REBECCA C', 'BUCHANAN HAROLD G', 'YEAP SOON', 'MURRAY JULIA H', 'GARLAND C KEVIN', 'DODSON KEITH', 'YEAGER F SCOTT', 'HIRKO JOSEPH', 'DIETRICH JANET R', 'DERRICK JR. JAMES V', 'FREVERT MARK A', 'PAI LOU L', 'BAY FRANKLIN R', 'HAYSLETT RODERICK J', 'FUGH JOHN L', 'FALLON JAMES B', 'KOENIG MARK E', 'SAVAGE FRANK', 'IZZO LAWRENCE L', 'TILNEY ELIZABETH A', 'MARTIN AMANDA K', 'BUY RICHARD B', 'GRAMM WENDY L', 'CAUSEY RICHARD A', 'TAYLOR MITCHELL S', 'DONAHUE JR JEFFREY M', 'GLISAN JR BEN F']

In [69]:
print enron_data['METTS MARK']

{'salary': 365788, 'to_messages': 807, 'deferral_payments': 'NaN', 'total_payments': 1061827, 'exercised_stock_options': 'NaN', 'bonus': 600000, 'restricted_stock': 585062, 'shared_receipt_with_poi': 702, 'restricted_stock_deferred': 'NaN', 'total_stock_value': 585062, 'expenses': 94299, 'loan_advances': 'NaN', 'from_messages': 29, 'other': 1740, 'from_this_person_to_poi': 1, 'poi': False, 'director_fees': 'NaN', 'deferred_income': 'NaN', 'long_term_incentive': 'NaN', 'email_address': 'mark.metts@enron.com', 'from_poi_to_this_person': 38}

In [75]:
money_grabbed = {
    "Lay": enron_data['LAY KENNETH L']['total_payments'], \
    "Skilling": enron_data['SKILLING JEFFREY K']['total_payments'], \
    "Fastow": enron_data['FASTOW ANDREW S']['total_payments']
}

print "These a-holes took home moolah, specifically: " + str(money_grabbed)

These a-holes took home: {'Skilling': 8682716, 'Fastow': 2424083, 'Lay': 103559793} respectively.

In [85]:
valid_salary_count = 0
valid_email_address_count = 0
invalid_total_payments = 0
poi_with_invalid_payments = 0

for key, value in enron_data.iteritems():
    if type(enron_data[key]['salary']) == type(1):
        valid_salary_count += 1
    if enron_data[key]['email_address'] != 'NaN':
        valid_email_address_count += 1
    if enron_data[key]['total_payments'] == 'NaN':
        invalid_total_payments += 1
    if enron_data[key]['poi']:
        if enron_data[key]['total_payments'] == "NaN":
            poi_with_invalid_payments += 1


total_people_count = len(enron_data.keys())        
        
print "Valid salary count: " + str(valid_salary_count)
print "Valid email address count: " + str(valid_email_address_count)
print "Invalid total payments: " + str(invalid_total_payments)
print "Invalid total payments and poi: " + str(poi_with_invalid_payments)


print "Total count of people (overall valid + invalid): " + str(total_people_count)

Valid salary count: 95
Valid email address count: 111
Invalid total payments: 21
Invalid total payments and poi: 0
Total count of people (overall valid + invalid): 146

In [86]:
print enron_data['LAY KENNETH L']['poi']

True